:root {
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);

}

@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter Variable';
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    line-height: 1.6;
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
}

.header__container-button {
    display: none;
}

@media (min-width: 768px) {
    .header__container-button {
        display: flex;
    }
}

.header__option {
    display: flex;
    align-items: center;
}

.header__option img {
    height: 2.9rem;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu svg {
    height: 4rem;
}

.header__block {
    display: flex;
    align-items: center;
}

.header__title {
    font-size: 3rem;
    color: var(--text-primary);
}

.header__navegation {
    position: fixed;
    background-color: blue;
    min-height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navegation {
    display: none;
}

.header__navegation-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;

}

@media (min-width: 768px) {
    .header__navegation {
        display: flex;
        flex-direction: row;
        background-color: var(--background);
        position: static;
        justify-content: center;
        min-height: auto;
    }

    .header__navegation-links {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0;
    }

    .header__menu,
    .header__option {
        display: none;
    }
}

.header__navegation-links li a {
    text-decoration: none;
    font-size: 2rem;

}

.header__navegation--active {
    display: flex;
}

.header__navegation--inactive {
    display: none;
}

@media (min-width: 768px) {
    .header__title {
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 1.2;
        text-wrap: balance;
        color: #ffffff;
    }

    .header .header__block {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .header .header__container-button {
        display: flex;
        gap: 2rem;
        margin-left: 3rem;
        align-items: center;
    }

    .header__navegation-links li a {
        text-decoration: none;
        color: var(--text-secondary);
        transition: color 0.2s;
        font-size: 1.6rem;
    }

    .header__navegation-links li a:hover,
    .header__navegation-links li a:focus {
        color: var(--primary);
        outline: none;
    }

    .header__button {
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        background-color: #334155;
        color: var(--text-primary);
        font-size: 1.2rem;
        font-weight: 700;
        border: none;
        transition: color 0.2s;

    }

    .header__button:hover {
        color: var(--primary-light);
    }

    .header__container-button {
        margin-left: 0;
        margin-right: 1rem;
    }


}

/*Section HERO*/

.hero {
    background-image: url(../img/background.webp);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    position: relative;
}

.hero__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    font-size: 4rem;
    text-wrap: balance;
    color: var(--text-primary);
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: .5rem;
    

}

@media (min-width: 768px) {
    .hero__title {
        font-size: 6rem;
        font-weight: 900;
        margin-bottom: 1rem;
        line-height: 1.2;
        text-wrap: balance;
        color: var(--text-primary);
        padding: 0;
    }
   
}

.hero__text {
    color: var(--text-muted);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.hero__overlay {
    padding: 0.4rem;
}

.form {
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
    padding-inline: 1rem;
    background-color: var(--input-bg);
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px var(--shadow);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.form div {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.hero__widget {
    background-color: transparent;
    border: none;
    width: 48rem;
    color: white;
}

.hero__widget:focus {
    outline: none;
}

.hero__button {
    background-color: var(--primary);
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: var(--text-primary);
}

.hero__button:hover {
    background-color: var(--primary-light);
}

/*Section Features*/

.features header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.features__title {
    text-align: center;
    font-size: 4rem;
}

.features__text {
    color: var(--text-muted);
    padding-top: 1rem;
    text-align: center;
}

/*Article*/

.features footer {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;

}

.article {
    background-color: var(--card-bg);
    padding: 2rem;
    margin-bottom: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 3px 0 rgb(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        color: var(--primary-light);
        background: rgb(0, 153, 255, .3);
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 100%;
        padding: 1.6rem;
    }

    .article__text {
        color: var(--text-muted);
    }

    .article__title {
        font-weight: 500;

    }
}

/*Footer*/
.footer {
    text-align: center;
    border-top: 1px solid gray;

}

.footer small {
    color: var(--text-muted)
}


